In [1]:
import pandas as pd
import os

In [51]:
pd.set_option('display.max_columns', None)

In [3]:

def dict_change(path):
    print("Current working directory : ",os.getcwd())
    os.chdir(path)
    print("Changed working directory: ",os.getcwd())
    

dir_path = "/Users/reet/Data_Science/AVD_LTFS_Hackathon/all_data"

dict_change(dir_path)

Current working directory :  /Users/reet/Data_Science/AVD_LTFS_Hackathon/code
Changed working directory:  /Users/reet/Data_Science/AVD_LTFS_Hackathon/all_data

In [10]:
os.listdir()

['data_dict.xlsx',
 '.DS_Store',
 'train_Data.xlsx',
 'test_bureau.xlsx',
 'train_bureau.xlsx',
 'test_Data.xlsx']

In [40]:
data_dict = pd.read_excel("data_dict.xlsx")
train_Data = pd.read_excel("train_Data.xlsx")
test_bureau = pd.read_excel("test_bureau.xlsx")
train_bureau = pd.read_excel("train_bureau.xlsx")
test_Data = pd.read_excel("test_Data.xlsx")

In [48]:
def basic_df_check(data):
    print("Shape of dataframe: ",data.shape)
    print("\n")
    print("Column List ============================= \n", data.columns)
    return data.head()

In [53]:
basic_df_check(train_Data)

Shape of dataframe:  (128655, 26)


Column List =============================
 Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'City', 'State', 'ZiPCODE', 'Top-up Month'],
      dtype='object')

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,DisbursalDate,MaturityDAte,AuthDate,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month
0,1,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,275000.0,24000.0,2012-02-10,2016-01-15,2012-02-10,4022465,1568,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993.0,> 48 Months
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,350000.0,10500.0,2012-03-31,2016-02-15,2012-03-31,4681175,1062,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001.0,No Top-up Service
2,3,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,519728.0,38300.0,2017-06-17,2023-02-10,2017-06-17,25328146,1060,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030.0,12-18 Months
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,400000.0,11600.0,2013-11-29,2017-11-10,2013-11-29,13021591,1060,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335.0,> 48 Months
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,440000.0,15000.0,2011-12-08,2015-07-05,2011-12-08,3291320,1046,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442.0,36-48 Months

In [54]:
basic_df_check(train_bureau)

Shape of dataframe:  (560844, 25)


Column List =============================
 Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
       'CLOSE-DT', 'LAST-PAYMENT-DATE', 'CREDIT-LIMIT/SANC AMT',
       'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
       'INSTALLMENT-FREQUENCY', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'ASSET_CLASS',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE'],
      dtype='object')

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,LAST-PAYMENT-DATE,CREDIT-LIMIT/SANC AMT,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE
0,1,False,PRIMARY,Overdraft,NAB,2018-04-30,Individual,Delinquent,2015-10-05,NaN,2018-02-27,NaN,"37,352",NaN,"37,873",NaN,"37,873",0.0,Standard,"20180430,20180331,",030000,"37873,12820,","37873,,",",,",NaN
1,1,False,PRIMARY,Auto Loan (Personal),NAB,2019-12-31,Individual,Active,2018-03-19,NaN,2019-12-19,NaN,"44,000","1,405/Monthly","20,797",F03,NaN,0.0,Standard,"20191231,20191130,20191031,20190930,20190831,2...",0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",36.0
2,1,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2019-08-30,NaN,NaT,NaN,"1,45,000",NaN,"1,16,087",NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",NaN
3,1,True,PRIMARY,Auto Loan (Personal),NBF,2017-09-30,Individual,Closed,2013-09-27,2017-09-21 00:00:00,NaT,NaN,"3,00,000",NaN,0,NaN,0,0.0,NaN,"20170930,20170801,20170731,20170630,20170531,2...",000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
4,1,True,PRIMARY,Tractor Loan,NBF,2016-02-29,Individual,Closed,2012-02-10,2016-02-01 00:00:00,NaT,NaN,"2,75,000",NaN,0,NaN,0,0.0,NaN,"20160229,20160131,20151231,20151130,20151031,2...",0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN

In [55]:
basic_df_check(test_Data)

Shape of dataframe:  (14745, 25)


Column List =============================
 Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'City', 'State', 'ZiPCODE'],
      dtype='object')

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,DisbursalDate,MaturityDAte,AuthDate,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE
0,4,Monthly,Advance,Closed,PDC_E,2,GUNA,46,480000,365000.0,365000.0,1000.0,2011-12-29,2015-10-05,2011-12-29,3524747,1046.0,22354,75.83,M,50.0,32069.00,GUNA,MADHYA PRADESH,473001.0
1,5,Monthly,Advance,Closed,PDC,2,GUNA,45,480000,285000.0,285000.0,9300.0,2012-04-28,2016-01-01,2012-04-28,4985862,1046.0,22354,57.44,M,35.0,25000.00,GUNA,MADHYA PRADESH,473001.0
2,6,Quatrly,Arrear,Closed,PDC,2,GUNA,48,580000,400000.0,400000.0,35800.0,2013-10-22,2017-09-10,2013-10-22,12881783,1060.0,65929,68.97,M,37.0,23333.33,GUNA,MADHYA PRADESH,473001.0
3,25,Half Yearly,Arrear,Closed,Billed,154,NaN,36,725000,500000.0,500000.0,52000.0,2013-05-21,2016-02-10,2013-05-21,10613776,1049.0,68597,61.79,M,55.0,91666.67,MAHASAMUND,CHATTISGARH,493558.0
4,119,Quatrly,Arrear,Closed,PDC,194,CUTTACK,48,617000,400000.0,400000.0,35400.0,2012-11-30,2016-12-05,2012-11-30,7911110,1049.0,38493,59.09,M,48.0,12500.00,JAGATSINGHAPUR,ORISSA,754137.0

In [56]:
basic_df_check(test_bureau)

Shape of dataframe:  (64019, 25)


Column List =============================
 Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
       'CLOSE-DT', 'LAST-PAYMENT-DATE', 'CREDIT-LIMIT/SANC AMT',
       'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
       'INSTALLMENT-FREQUENCY', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'ASSET_CLASS',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE'],
      dtype='object')

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,LAST-PAYMENT-DATE,CREDIT-LIMIT/SANC AMT,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE
0,4,False,PRIMARY,Credit Card,CCC,2019-11-17,Individual,Active,2019-09-26,NaN,NaT,"10,000",588,NaN,589,NaN,0,0.0,NaN,"20191117,",000,"589,","0,","0,",NaN
1,4,False,PRIMARY,Housing Loan,HFC,2019-10-31,Joint,Active,2017-06-21,NaN,2019-10-15,NaN,"25,00,000","30,797/Monthly","21,07,227",F03,0,0.0,NaN,"20191031,20190930,20190831,20190731,20190630,2...",0000000000000000000000000000000000000000000000...,"2107227,2122196,2136877,2151448,2165910,218026...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,",120.0
2,4,False,PRIMARY,Property Loan,HFC,2019-10-31,Joint,Active,2017-06-27,NaN,2019-10-15,NaN,"99,000","1,223/Monthly","83,458",F03,0,0.0,NaN,"20191031,20190930,20190831,20190731,20190630,2...",0000000000000000000000000000000000000000000000...,"83458,84051,84632,85209,85781,86349,86913,8747...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,",120.0
3,4,True,PRIMARY,Tractor Loan,NBF,2015-10-31,Individual,Closed,2011-12-29,2015-10-13 00:00:00,NaT,NaN,"3,65,000",NaN,0,NaN,0,0.0,NaN,"20151031,20150901,20150831,20150731,20150630,2...",000DDD0270000000000000000000000000000000000000...,"0,,21548,32097,42500,52758,62874,72850,82688,9...","0,,11000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
4,5,False,PRIMARY,Gold Loan,PRB,2017-08-31,Individual,Closed,2016-05-04,2017-06-15 00:00:00,2017-06-15,NaN,"25,801",NaN,0,NaN,0,0.0,NaN,"20170630,20170501,20170401,20170331,20170201,2...",000DDDDDD000DDDDDD000DDDDDD000DDDDDD000,"0,,,25846,,,25846,,,25846,,,25846,","0,,,0,,,0,,,0,,,0",",,,,,,,,,,,,,,",NaN

In [79]:
import numpy as np

In [83]:
# Top-up Month
np.unique(train_Data["Top-up Month"])[0]

' > 48 Months'

In [71]:

for varname in train_Data.columns:
    print({varname : train_Data[varname].isna().sum()})

{'ID': 0}
{'Frequency': 0}
{'InstlmentMode': 0}
{'LoanStatus': 0}
{'PaymentMode': 0}
{'BranchID': 0}
{'Area': 11653}
{'Tenure': 0}
{'AssetCost': 0}
{'AmountFinance': 0}
{'DisbursalAmount': 0}
{'EMI': 0}
{'DisbursalDate': 0}
{'MaturityDAte': 1}
{'AuthDate': 0}
{'AssetID': 0}
{'ManufacturerID': 0}
{'SupplierID': 0}
{'LTV': 0}
{'SEX': 59}
{'AGE': 59}
{'MonthlyIncome': 234}
{'City': 11256}
{'State': 0}
{'ZiPCODE': 372}
{'Top-up Month': 0}

In [89]:
len(np.unique(train_Data["ID"]))

128655

In [135]:
arr = np.unique(train_Data["Top-up Month"])

In [137]:
for i in arr:
    print(i)

 > 48 Months
12-18 Months
18-24 Months
24-30 Months
30-36 Months
36-48 Months
No Top-up Service

In [131]:
np.sort(np.unique(train_Data["Top-up Month"]))

array([' > 48 Months', '12-18 Months', '18-24 Months', '24-30 Months',
       '30-36 Months', '36-48 Months', 'No Top-up Service'], dtype=object)

In [123]:
arr

array([' > 48 Months', '12-18 Months', '18-24 Months', '24-30 Months',
       '30-36 Months', '36-48 Months', 'No Top-up Service'], dtype=object)

In [151]:
def tenEorrClean(df,tenLimit,TopUpMonth = "No Top-up Service"):
    df_id = df[(df["Top-up Month"] == TopUpMonth) & (train_Data["Tenure"] < tenLimit)]["ID"]
    print(df.shape)
    df_id_ls = list(df_id)
    print(df_id.shape)
    return df_id_ls

In [177]:
tenEror_48_id = tenEorrClean(train_Data,48,' > 48 Months')
tenEror_12_id = tenEorrClean(train_Data,12,'12-18 Months')
tenEror_18_id = tenEorrClean(train_Data,18,'18-24 Months')
tenEror_24_id = tenEorrClean(train_Data,24,'24-30 Months')
tenEror_30_id = tenEorrClean(train_Data,30,'30-36 Months')
tenEror_36_id = tenEorrClean(train_Data,36,'36-48 Months')

(128655, 26)
(4994,)
(128655, 26)
(0,)
(128655, 26)
(45,)
(128655, 26)
(49,)
(128655, 26)
(167,)
(128655, 26)
(376,)

In [178]:
tenError_ID_vector = set(tenEror_48_id + tenEror_18_id + tenEror_24_id + tenEror_30_id + tenEror_36_id)
len(tenError_ID_vector)

5631

In [179]:

train_df = train_Data.drop(train_Data[train_Data["ID"].isin(tenError_ID_vector)].index.tolist())
print(train_Data.shape)
print(train_df.shape)

(128655, 26)
(123024, 26)

In [180]:
128655 - 123024

5631

In [69]:
# Tenure clean up


# train_Data["Tenure"].isna().sum()

# def tenure_cleanUp(df):
#     if (df["No Top-up Service"] == "> 48 Months") & (df["No Top-up Service"] == "> 48 Months")
#     df.drop((i for i in df["No Top-up Service"] if ))

{'ID': 0}
{'Frequency': 0}
{'InstlmentMode': 0}
{'LoanStatus': 0}
{'PaymentMode': 0}
{'BranchID': 0}
{'Area': 11653}
{'Tenure': 0}
{'AssetCost': 0}
{'AmountFinance': 0}
{'DisbursalAmount': 0}
{'EMI': 0}
{'DisbursalDate': 0}
{'MaturityDAte': 1}
{'AuthDate': 0}
{'AssetID': 0}
{'ManufacturerID': 0}
{'SupplierID': 0}
{'LTV': 0}
{'SEX': 59}
{'AGE': 59}
{'MonthlyIncome': 234}
{'City': 11256}
{'State': 0}
{'ZiPCODE': 372}
{'Top-up Month': 0}

In [64]:
train_Data.columns

Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'City', 'State', 'ZiPCODE', 'Top-up Month'],
      dtype='object')

In [37]:
data = pd.read_excel("data_dict.xlsx")

In [39]:
data.type()

AttributeError: 'DataFrame' object has no attribute 'type'

In [35]:

def read_xlsx(file_name):
    if file_name[-4:] == "xlsx" :
        data = pd.read_excel(file_name)
        
        exec("file_name"[:-5]" = pd.read_excel({file_name}))
        print("Size of {} data".format(file_name[:-5]),file_name[:-5].shape)
        
files = os.listdir()

for item in files:
    read_xlsx(item)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-35-52abb342f1b8>, line 3)

In [29]:
"data_dict.xlsx"[:-5]

'data_dict'

In [25]:
files

['data_dict.xlsx',
 '.DS_Store',
 'train_Data.xlsx',
 'test_bureau.xlsx',
 'train_bureau.xlsx',
 'test_Data.xlsx']